<%- include("partials/head"); -%>
		<h1>Account Information</h1>
		<br>
		<input id="account" type="text" placeholder="account">
		<input id="username" type="text" placeholder="username">
		<input id="password" type="password" placeholder="password">
		<input id="show-password" type="checkbox" value="unchecked">
		<input id="code" type="password" placeholder="code">
		<br><br>
		<button id="retrieve" type="button">Retrieve</button>
		<button type="button">Save</button>
		<button type="button">Update</button>
<%- include("partials/foot"); -%>